.profile {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.ayden {
  width: 100%;
  height: 100vh;
}
.brian {
  width: 100%;
  height: 100vh;
}
.arne {
  width: 100%;
  height: 100vh;
}

h6 {
  font-family: "Neutral";
  font-size: 6rem;
  color: #ffffff;
  font-weight: 500;
  text-align: center;
  line-height: 6rem;
  margin: 0;
  padding: 40% 5vw 75px 5vw;
  background: linear-gradient(
    228.86deg,
    #e64500 36.07%,
    #2964fd 55.42%,
    #ff80db 72.23%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    z-index: 10;
  }

  * {
    padding: 0;
    margin: 0;
  }

  .mobile {
    display: block;
    position: relative;
  }

  h6 {
    padding: 0px;
    font-size: 8rem;
    line-height: 8rem;
    margin: 0px;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: -1;
  }

  .profile {
    width: 100%;
    padding: 0px;
    margin: 0px;
    opacity: 0.75;
  }

  h3 {
    font-size: 8rem;
    padding-top: 20px;
  }

  p {
    padding-top: 20px;
    font-size: 5rem;
  }

  .left,
  .right {
    display: none;
  }

  .e_orange {
    font-family: "Neutral";
  }

  .e_yellow {
    font-family: "Neutral";
  }
}
